/* ------global------*/
@font-face {
  font-family: "arialn";
  src: url(arialnarrow.woff);
}

:root { /* variables */
  --font-size: 16px;
  --green: #00840D; /* opacity 80% */
  --blue: #0047FD;
  --red: #FD0000;
  --bg: #fff;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: var(--font-size);
  color: var(--blue);
}

main {
  width: 100vw;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}

p {
  font-stretch: normal;
  font-weight: 700;
  margin: 0;
}

.b2b {
  font-family: "arialn";
  font-style: italic;
  font-weight: 400;
  color: var(--red);
}

h1 { /* frogfest logo */
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--green);
  opacity: 80%;
  letter-spacing: -0.5rem;
  font-size: 78px;
  font-weight: 400;
}

.font-normal {
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.font-narrow {
  font-family: "arialn";
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}


/* ------header------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  flex-direction: column;
}

.scrollBanner {
  font-size: 2rem;
  background: var(--bg);
  width: fit-content;
  font-family: "arialn";
  font-weight: 500;
  white-space: nowrap;
  height: fit-content;

}

.scrollBanner.bot {
  transform: translate3d(-50%,0,0);
}


.frog {
  height: 15vmin;
  image-rendering: pixelated;
  filter: drop-shadow(0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.25))
}


/* ------landing------*/

.toptext p {
  font-weight: 400;
}

.blurred-bg {
  position: absolute;
  width: 456px;
  height: 66px;
  background: #FFF8C0;
  filter: blur(39px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}


.landing {
  min-height: 80vh;
  place-items: center;  
}
.landing__edges{
  justify-self: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.landing__edges{
  justify-self: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}


.poster {
	height: 95vmin;
}
