/* ------global------*/
@font-face {
  font-family: "arialn";
  src: url(arialnarrow.woff);
}

:root { /* variables */
  --font-size: 16px;
  --green: #00840D; /* opacity 80% */
  --blue: #0047FD;
  --red: #FD0000;
  --bg: #fff;
}

* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: var(--font-size);
  color: var(--blue);
}

main {
  width: 100vw;
  
}
section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;

}
h1,h2,h3,h4,h5,h6,label,p {
  font-stretch: normal;
  margin: 0;
}


.b2b {
  font-family: "arialn";
  font-style: italic;
  font-weight: 400;
  color: var(--red);
}

h1 {
 
}
.bold {
  font-weight: 700;
}
.normal {
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.font-narrow {
  font-family: "arialn";
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;

}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.opacity {
  opacity: 0;
}

/* ------header------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
  height: 100%;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  flex-direction: column;
}

.scrollBanner {
  font-size: 2rem;
  background: var(--bg);
  width: fit-content;
  font-family: "arialn";
  font-weight: 500;
  white-space: nowrap;
  height: fit-content;

}

.scrollBanner.bot {
  transform: translate3d(-50%,0,0);
}


.frog {
  height: 15vmin;
  image-rendering: pixelated;
  filter: drop-shadow(0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.25))
}


/* ------landing------*/

.toptext p {
  font-weight: 400;
}

.blurred-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem -8rem;
  background: #FFF8C0;
  border-radius: 50%;
  filter: blur(39px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}
.main-flavor {
  font-size: 2.4vmin;
  margin-bottom: -1.5em ;
  z-index: 2;
}
.main-subtitle {
  font-size: 1.2rem;
}
.main-heading {  /* frogfest logo */
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--green);
  opacity: 80%;
  letter-spacing: -0.1em;
  font-size: 15vmin;
  font-weight: 400;
  margin-bottom: -0.0em ;
 
}

.landing {
  min-height: 85vh;
  place-items: center;  
}
.landing__edges{
  justify-self: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.landing__edges{
  justify-self: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.poster {
	height: 95vmin;
}

.deeznuts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -20%;

}

.textblock {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  right: 0;
  direction:rtl;
  text-align: justify;
  line-height: 2rem;
  padding-top: 20%;
}

.pad {
  padding-top: 20px;
}

.video {
  padding-top: 30%;
}

.vidwrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.vidwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  justify-content: space-between;
}

/* ------landing------*/
footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 0;
  margin-bottom: 10rem;
}


@media screen  and (max-width: 900px) {
  .flex-mobile {
    flex-direction: column;
  }
}

@media screen  and (min-width: 901px) {
  
}