/* ------global------*/
@font-face {
  font-family: "arialn";
  src: url(arialnarrow.woff);
}

:root { /* variables */
  --font-size: 16px;
  --green: #00840D; /* opacity 80% */
  --blue: #0047FD;
  --red: #db0000;
  --bg: #fff;
  --frogsize:15vmin;
  --motionsize: calc(100% - var(--frogsize));
  --duration: 7s;
  --height: 100%;
}

* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: var(--font-size);
  color: var(--blue);
  width: 100vw;
  
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
main {
  width: 100vw;
  overflow-x: hidden;

}
section {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}
h1,h2,h3,h4,h5,h6,label,p {
  font-stretch: normal;
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;

}

a, a:visited{
  color: inherit;
}

.b2b {
  font-family: "arialn", Arial, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: var(--red);
}

.bold {
  font-weight: 700;
}
.normal {
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.font-narrow {
  font-family: "arialn";
}

.flex {
  display: flex;
}
.flex-grow {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;

}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.opacity {
  opacity: 0;
}
.smile {
  font-size: 1.5em;
  font-family: 'arialn';
}
a:visited {
  color: var(--blue);
}
/* ------header------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--height);
  z-index: 1000;
  background: transparent;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  flex-direction: column;
}

.scrollBanner {
  font-size: 2rem;
  background: var(--bg);
  width: fit-content;
  font-family: "arialn";
  font-weight: 500;
  white-space: nowrap;
  height: fit-content;

}

.scrollBanner.bot {
  transform: translate3d(-50%,0,0);
}

.frog__wrapper {
  pointer-events: auto;
  width: fit-content;
}
.frog {
  cursor: pointer;
  width:  var(--frogsize);
  min-width: 6rem;
  image-rendering: pixelated;
  filter: drop-shadow(0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.25));
  transition: transform 50ms ease-out
}
.frog:active {
  transform: scale(0.96)
}

.tooltip::before {
  
  content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid black;
    left:-8px;

    top:7px;
}

.tooltip  {
  width: 10rem;
  white-space: initial;
  background-color: #FFF8C0;
  border: 1px solid black;
  color: #000;
  border-radius: 3px;
  padding: 0.25rem;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 100%;
  top: 0;
  cursor: pointer;
}

.tooltip.mobile {
  width: 60vw;

}


.tooltip__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.exit {
  font-size: 0.8rem;
}

/* ------landing------*/


.main-heading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem -1em;
  background: #FFF8C0;
  border-radius: 50%;
  filter: blur(0.2em);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}
.main-flavor {
  font-size: 2.4vmin;
  margin-bottom: -1.5em ;
  z-index: 2;
}

.main-heading {  /* frogfest logo */
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--green);
  opacity: 80%;
  letter-spacing: -0.1em;
  font-size: 15vmin;
  font-weight: 400;
  margin-bottom: -0.0em ;
  white-space: nowrap;
}

.landing {
  min-height: 85vh;
  padding: 4rem 0;
  place-items: center;

}
.landing__edges{
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}
.landing__edges{
  justify-self: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

.poster {
	height: 95vmin;
}

.deeznuts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -20%;

}

.textblock {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  right: 0;
  direction:rtl;
  text-align: justify;
  line-height: 2rem;
  padding-top: 20%;
}

.pad {
  padding-top: 20px;
}

.video {
  padding-top: 30%;
  min-height: 50vh;
}

.vidwrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.vidwrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.grid {
  display: flex;
  justify-content: space-between;
}

/* ------footer------*/
footer {
  min-height: 60vh;
  padding: 20vh 0;
  margin-top: 4rem;
  text-align: center;
  color: var(--blue);
  background-color: var(--blue);
}


footer .content {

  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 3rem;
}

footer .main-heading {
  font-size: 15vmin;
}
.footertext {
  z-index: 10;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.33422, 0, 1);
}

footer .main-heading::before {
  z-index: -3;
  filter: blur(0.22em);

}
/* ------only mobile------*/
@media screen and (max-width: 500px) {
 .hide-mobile {
  display: none;
 }
 .textblock {
  padding-top: 0;
 }
 .deeznuts {
  margin-bottom: 0%;

 }
 .main-flavor {
  font-size: 3.4vmin;
  margin-bottom: -1em ;

 }
 .m-block {
  display: block;
 }
 .androidsticky {
  position: fixed;
  bottom: 0;
  left: 0;
 }
}
@media screen and (max-width: 900px) {
  .flex-mobile {
    flex-direction: column-reverse;
  }
  section {
    max-width: 900px;
  }
  footer {
    min-height: 40vh;
  }
  .textblock {
    max-width: 100%;
    text-align: center;
  }
  .grid {
    align-items: center;
  }
}
/* ------only desktop------*/
@media screen and (min-width: 501px) {
  .hide-desktop {
   display: none;
  }
  :root {
    --duration: 15s
  }
  .marquee {
    /* Apply animation to this element */	
    -moz-animation: horizontal var(--duration) linear infinite alternate;
    -webkit-animation: horizontal var(--duration) linear infinite alternate;
    animation: horizontal var(--duration) linear infinite alternate;
   }
   .marquee-vertical {
    /* Apply animation to this element */	
    -moz-animation-name: vertical;
    -webkit-animation-name: vertical;
    animation-name: vertical;
    -moz-animation-duration: calc(var(--duration) - 3s);
    -webkit-animation-duration: calc(var(--duration) - 3s);
    animation-duration: calc(var(--duration) - 3s);
   }
 }
@media screen  and (min-width: 901px) {
  .main-subtitle {
    font-size: 1.2rem;
  }
  :root {
    --duration: 20s
  }
}

/* ------marquee------*/

/* Move it (define the animation) */
@-moz-keyframes horizontal {
 0%   { -moz-transform: translateX(var(--motionsize)); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes horizontal {
 0%   { -webkit-transform: translateX(var(--motionsize)); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes horizontal {
 0%   { 
 -moz-transform: translateX(var(--motionsize)); /* Firefox bug fix */
 -webkit-transform: translateX(var(--motionsize)); /* Firefox bug fix */
 transform: translateX(var(--motionsize)); 		
 }
 100% { 
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }
}


 /* Move it (define the animation) */
 @-moz-keyframes vertical {
  0%   { -moz-transform: translateY(calc(var(--motionsize) + 5vmin)); }
  100% { -moz-transform: translateY(0%); }
 }
 @-webkit-keyframes vertical {
  0%   { -webkit-transform: translateY(calc(var(--motionsize) + 5vmin)); }
  100% { -webkit-transform: translateY(0%); }
 }
 @keyframes vertical {
  0%   { 
  -moz-transform: translateY(calc(var(--motionsize) + 5vmin)); /* Firefox bug fix */
  -webkit-transform: translateY(calc(var(--motionsize) + 5vmin)); /* Firefox bug fix */
  transform: translateY(calc(var(--motionsize) + 5vmin)); 		
  }
  100% { 
  -moz-transform: translateY(0%); /* Firefox bug fix */
  -webkit-transform: translateY(0%); /* Firefox bug fix */
  transform: translateY(0%); 
  }
 }