---
import App from "../components/App.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="frogfest 2023">
    <main>
        <App />

    </main>
</Layout>

<style lang="postcss">
   @font-face {
    font-family: "arialn";
    src: url(/2022/arialnarrow.woff);
    }
    main {
        overflow-y: auto;
        font-family: "arialn", sans-serif;
    }

    :global(body) {
        --primary1: #E83922;
        --secondary1:#0A0A29;

        --primary2: #FED750;
        --secondary2:#322EF3;
        --gradient1: linear-gradient(90deg,#FF2A0D, #FFFEDF);
        --gradient2: linear-gradient(90deg,#FF2A0D, #FFFEDF);
      
        background-color: var(--primary1);
    }
</style>