---
import App from "../components/App.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="frogfest 2023">
    <div class="overflow-hidden fixed inset-0 h-full w-full">
        <main class="relative" id="scroll-container">
            <footer>
                <p>check out <a href="/2022">last year's frogfest</a></p> 
                <p><a href="https://artsandcrafts.work">studio arts+crafts©</a></p>
            </footer>
            <App client:load />
        </main>
       
    </div>
        
    
   
</Layout>
<script src="../components/smooth.ts"></script>

<script>
    import SmoothScroll from '../components/smooth'
    const scroller = new SmoothScroll({
  target: document.querySelector("#scroll-container"), // element container to scroll
  wrapper: document.querySelector("#scroll-wrapper"), // element container to scroll
  scrollEase: 0.05,
});
</script>
<style lang="postcss">

   
 
    footer {
        @apply py-1 px-3 flex justify-between w-full text-sm z-50;
        @apply bg-gray-300 text-xs lg:text-base;
    }
    footer a {
        @apply underline text-[var(--secondary2)];
    }
  
</style>