---
import Layout from "../layouts/Layout.astro";
---

<Layout title="frogfest 2023">
    <section>
       
        <div>
            <h1 class="uppercase font-bold text-2xl">
                frogfest 2023 is coming
            </h1>
            <p>AUGUST 18, 2023</p>
        </div>
        <footer>
            <p>check out the website from last year: <a href="/2022">2022</a></p> 
            <p><a href="https://artsandcrafts.work">studio arts+crafts©</a></p>
        </footer>
    </section>
</Layout>

<style lang="postcss">
   @font-face {
  font-family: "arialn";
    src: url(/2022/arialnarrow.woff);
}
    footer {
        @apply py-1 px-3 flex justify-between w-full text-sm;
    }
    section {
        @apply grid place-items-center w-full h-full text-center;
        font-family: "arialn", sans-serif;
        grid-template-rows:  1fr auto;
        color: blue;
    }
    section a {
        @apply underline;
    }
</style>