---
import App from "../components/App.svelte";
import Layout from "../layouts/Layout.astro";

       
---

<Layout title="frogfest 2023">
    <div class="" id="scroll-css">
        <header>
            <div class="bg-[var(--primary2)] px-2 py-1 rounded border-2 border-[var(--secondary2)]">
               <p>REMEMBER YOUR PAST</p>
               <p>Visit <a href="/2022">last year's frogfest</a></p>
            </div>
            <div class="bg-[var(--primary2)] rounded-full border-2 border-[var(--secondary2)]">
                <p><button id="setScroll" class="text-xs px-2 py-1 rounded-full hover:bg-slate-300 underline" >DISABLE smooth scrolling</button></p>
    
            </div>
        </header>
        <main class="relative" id="scroll-container">
            
            <App client:load />
            <div class="h-[50vh] bg-[var(--primary1)] w-full mt-12 flex flex-col items-center justify-center text-white">
                <p class="text-[15vmin]"><b><i>frogfest 2023</i></b></p> 
                <p>crafted by <a class="underline hover:text-blue-200" href="https://artsandcrafts.work">studio arts+crafts©</a></p>
                <p>illustration by <a class="font-bold underline hover:text-blue-200" href="https://twitter.com/vyviiie">vyviiie</a></p>

            </div>
        </main>
       
    </div>
  
    
   
</Layout>

<script>
    import SmoothScroll from '../scripts/smooth'

    let isScroll = false;

    function init() {
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            return;
        }
        const shouldSmoothScroll = localStorage.getItem("shouldSmoothScroll");
        if (shouldSmoothScroll === null ) isScroll = true;
        else isScroll = shouldSmoothScroll === 'false'
        
        console.log(isScroll)
        if (!isScroll) return;

        document.getElementById("scroll-css")?.classList.add('scroll-wrapper');
        const scroller = new SmoothScroll({
        target: document.querySelector("#scroll-container"), // element container to scroll
        wrapper: document.querySelector("#scroll-wrapper"), // element container to scroll
        scrollEase: 0.05,
    });

    }
   
    function setScroll() {
        
    
        localStorage.setItem("shouldSmoothScroll", isScroll  ? 'true': 'false');
        window.location.reload();
    }
    document.getElementById("setScroll")?.addEventListener('click',()=> {
        setScroll()
    })
    init()
    
</script>
<style lang="postcss">

   
 
    header {
        @apply py-3 px-3 flex justify-between items-end w-full text-sm z-50 fixed bottom-0 left-0;
        @apply text-xs lg:text-base;
    }
    header a {
        @apply underline text-[var(--secondary2)];
    }
    .scroll-wrapper {
        @apply overflow-hidden fixed inset-0 h-full w-full;
    }
</style>