--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="FROGFEST Online Music Festival on FFXIV">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
			<slot />
	</body>
</html>
<style is:global>
 @font-face {
    font-family: "arialn";
    src: url(/2022/arialnarrow.woff);
    }
  

	html {
        font-family: "arialn", sans-serif;
		//background: #fcfcfc;
		/* overflow:hidden;
		width: 100svw;
		height: 100svh; */
		
	}  
body {
        --primary1: #E83922;
        --secondary1:#0A0A29;

        --primary2: #FED750;
        --secondary2:#322EF3;
        --gradient1: linear-gradient(0deg,#FEC248,#FEC248, #FED750, #FED750);
        --gradient2: linear-gradient(90deg,#FF2A0D, #FFFEDF);
      
        background-color: var(--primary1);
        color: var(--secondary1);
        /* display: grid;
        grid-template-rows: 1fr auto; */
		--primary1: #fff;

    }
	
</style>
